@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap');

.logo {
	font-family: 'Khand', sans-serif;
	font-size: 5em;
	color: white;
	margin: 50px 30px 0 30px;
}

.searchbox {
	margin: 0 30px;
}

#left {
	position: fixed;
	text-align: center;
	width: 300px;
}

#right {
	margin-left: 300px;
}