.card {
	text-align: left;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 5px 20px -10px black;
	// transition: color 0.5s;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		color: lighten($primary-color, 20%);
	}
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.95);
}

.title {
	font-size: x-large;
	font-weight: 400;
}

.ts {
	font-size: small;
}

.facebook a {
	color: #4267B2;
	&:hover {
		color: lighten(#4267B2, 10%);
	}
}

.line a {
	color: #02B902;
	&:hover {
		color: lighten(#02B902, 5%);
	}
}

.colorbar {
	position: absolute;
	right: 0;
	bottom: 0;
	fill: #aaa;
	overflow: hidden;
	opacity: 0.3;
	transition-duration: 0.5s;
	z-index: -1;
	&.bar0 {
		width: 250px;
		height: 80px;
		.card:hover & {
			opacity: 1;
		}
	}
	&.bar1{
		width: 150px;
		height: 100px;
	}
	&.bar2 {
		width: 100px;
		height: 150px;
	}
	.card:hover & {
		opacity: 0.5;
	}
}
