.card {
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 5px 20px -10px black;
}

.title {
	font-size: x-large;
	font-weight: 400;
}

.phone a {
	text-decoration: none;
}

.container {
	display: inline-flex;
	flex-wrap: wrap;
}