@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;400&display=swap");
html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #183752 50%, #186a4b 200%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: "Prompt", sans-serif;
  text-align: center;
}

.searchbox {
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-family: "Prompt", sans-serif;
  width: 100%;
}

#area-logo {
  display: table-cell;
  vertical-align: middle;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 10;
  text-align: center;
}
@media (min-width: 1200px) {
  #area-logo {
    background: unset;
    top: unset;
    width: 350px;
    margin: 30px;
  }
}

#logo-background {
  position: fixed;
  top: 0;
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to bottom, #183752 80%, rgba(24, 55, 82, 0) 100%);
  z-index: -1;
}
@media (min-width: 1200px) {
  #logo-background {
    display: none;
  }
}

#logo-wrapper {
  display: inline-block;
}

#area-content {
  margin-top: 200px;
}
@media (min-width: 1200px) {
  #area-content {
    margin-top: unset;
    margin-left: 350px;
    margin-right: 20px;
    padding: 30px;
  }
}

.container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
@media (max-width: 390px) {
  .container {
    margin: 5vw;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
  }
}
@media (min-width: 1200px) {
  .container {
    margin: 30px;
    gap: 30px;
  }
}

.card {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 20px -10px black;
  transition-duration: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

a {
  color: #23517A;
  text-decoration: none;
}

a:hover {
  color: #3c85c7;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.title {
  font-size: x-large;
  font-weight: 400;
}

.ts {
  font-size: small;
}

.facebook a {
  color: #4267B2;
}

.facebook a:hover {
  color: #34518d;
}

.line a {
  color: #02B902;
}

.line a:hover {
  color: #018701;
}

.colorbar {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: #aaa;
  overflow: hidden;
  opacity: 0.3;
  transition-duration: 0.5s;
  z-index: -1;
}

.colorbar.bar0 {
  width: 250px;
  height: 80px;
}

.colorbar.bar1 {
  width: 150px;
  height: 100px;
}

.colorbar.bar2 {
  width: 100px;
  height: 150px;
}

.card:hover .colorbar {
  opacity: 0.5;
}

.card:hover .bar0 {
  opacity: 1;
}

.logo {
  font-family: "Khand", sans-serif;
  font-size: 5em;
  line-height: 0.635;
  color: white;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: default;
  cursor: default;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 7em;
  }
}

.special-i {
  display: inline-block;
}

.stack {
  display: block;
}

.logo .bouncing {
  color: white;
  transition: transform 0.5s, color 2s;
}

.logo:hover .bouncing {
  color: red;
  transform: translateY(-10px);
}

/*# sourceMappingURL=style.css.map */
