@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);

$main-font: 'Prompt';

$primary-color: #23517A;
$secondary-color: #1D7F5A;

$page-margin: 50px;

$card-gap: 30px;

@import 'App';
@import 'Card';
@import 'Logo';
@import 'index';